<link href="https://fonts.googleapis.com/css?family=Antic|Open+Sans+Condensed:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home/top">DotAsterisk-Online[.*]</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href=" https://gitter.im/Linux-FUN/DotAsterisk_online">Gitterはこちら</a></li>
      <li class="active"><a href=" https://github.com/Linux-FUN/DotAsterisk_online">GitHub</a></li>
      <li class="active"><a href=" https://linux-fun.connpass.com/">connpass</a></li>
    </ul>
  </div>
</nav>

<div class="second-page">
  <h1>How to join</h1>
  <div class="LIST">
  <ol>1.上記からGitterに飛んでログイン</ol>
  <ol>2.その日やることをGitHubのissueに書く</ol>
  <ol>3.作業をする(Work)</ol>
  <ol>4.やったことをissueに書く</ol>
  <ol>5.お疲れ様でした</ol>
    <ol>補足：Gitterで何か呟けばメンバーが反応するかも？</ol>
  </div>
</div>
<div class="surp-content">
  <h1>Join Discord</h1>
  <div class="contact">
    <p>Discord 通話に参加したい方は、TwitterID: @Tkon_sec にコンタクトをとって通話サーバーにいれてもらってください。</p>
  </div>
  <h1>やること</h1>
  <div class="contact">
    <p>基本的になんでも構いません。開発、勉強、その他作業など</p>
  </div>
</div>

